<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f0867f">
    <meta name="theme-color" content="#f0867f">

    <title>Zero Two Thanks :: GnowBros</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <header>
          <a class="home" href="./">
              <span>HOME</span>
              <img src="#avatarUrl#">
          </a>
          <nav class="navbar">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
              <a href="./commands">COMMANDS</a>
              <a href="https://discordapp.com/api/oauth2/authorize?client_id=456124032866320393&scope=bot">INVITE</a>
              <a href="https://discord.gg/XZXD2gU">SERVER</a>
          </nav>
      </header>

      <div class="container center">
        <div class="inner-container vertical">
          <h1>THANK YOU!</h1>
          <p>Thank you so much for your donation ❤️. It helps to support my work so <i>you and others</i> can enjoy more!</p>
          <p style="font-size: 9pt;">If you came across this page by accident, head on <a href="./">back</a></p>
        </div>
      </div>

      <footer>
        &COPY; 2019 Nicholas Wong
      </footer>

      <script src="./static/js/index.js"></script>
  </body>
</html>