<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Zero Two Thanks :: GnowBros</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
      <header>
          <a class="home" href="./">
              <span>HOME</span>
              <img src="#avatarUrl#">
          </a>
          <nav class="navbar">
              <a href="./commands">COMMANDS</a>
              <a href="https://discordapp.com/api/oauth2/authorize?client_id=456124032866320393&scope=bot">INVITE</a>
              <a href="https://discord.gg/XZXD2gU">SERVER</a>
          </nav>
      </header>

      <div class="container center">
        <div class="inner-container vertical">
          <h1>THANK YOU!</h1>
          <p>Thank you so much for your donation ❤️. It helps to support my work so <i>you and others</i> can enjoy more!</p>
          <p style="font-size: 9pt;">If you came across this page by accident, head on <a href="./">back</a></p>
        </div>
      </div>

      <footer>
        &COPY; 2019 Nicholas Wong
      </footer>
  </body>
</html>