<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f0867f">
    <meta name="theme-color" content="#f0867f">

    <title>Zero Two Bot</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <a class="home" href="./">
            <span>HOME</span>
            <img src="#avatarUrl#">
        </a>
        <nav class="navbar">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="ham-close"></span>
            <a href="./commands">COMMANDS</a>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=456124032866320393&scope=bot">INVITE</a>
            <a href="https://discord.gg/XZXD2gU">SERVER</a>
        </nav>
    </header>

    <div class="container">
        <div id="hero" class="inner-container vertical">
            <div class="avatar">
                <img width="148" height="148" src="#avatarUrl#?size=256">
            </div>
            <h1>Hey Darling 💕</h1>
            <p>I'm a <i>hot</i> waifu Discord bot based on <b>ゼロツー (Zero Two)</b> from <b>ダーリン・イン・ザ・フランキス (Darling in the FranXX)</b></p>
            <p>I serve a variety of needs and have tons of functionality + features</p>
            <span class="buttons">
                <a href="./commands">COMMANDS</a>
                <a href="https://discordapp.com/api/oauth2/authorize?client_id=456124032866320393&scope=bot">INVITE ME</a>
                <a href="https://discord.gg/XZXD2gU">SUPPORT SERVER</a>
            </span>
        </div>
        <div id="features" class="inner-container vertical dark">
            <h2>Features 🎶</h2>
            <div class="horizontal ffl">
                <div>
                    <h3>Chatbot</h3>
                    <p>AI-Powered Chatbot! Just mention: <span class="mention">@Zero Two#5534</span></p>
                </div>
                <div class="preview">
                    <img src="https://cdn.owo.soy/chatbot.gif" loading="lazy" />
                </div>
            </div>
            <div class="horizontal ffr">
                <div>
                    <h3>API Integration</h3>
                    <p>Interact with tons of services you already love (ie. AniList, Osu!, League, etc.)</p>
                </div>
                <div class="preview">
                    <img src="https://cdn.owo.soy/osu-api.gif" loading="lazy" />
                </div>
            </div>
        </div>
        <div id="stats" class="inner-container">
            <h2>Currently Serving 💼</h2>
            <div id="stats-chart">
                <div class="stat">
                    <h2>{{ guilds }}</h2>
                    <p>guilds</p>
                </div>
                <div class="stat">
                    <h2>{{ users }}</h2>
                    <p>users</p>
                </div>
                <div class="stat">
                    <h2>Some</h2>
                    <p>voice channels</p>
                </div>
                <div class="stat">
                    <h2>You 🍞</h2>
                    <p>with 🍯</p>
                </div>
            </div>
        </div>
        <div class="inner-container dark reverse">
            <h2>Open Source 📖</h2>
            <p class="block">
                Need your help to speak more languages!
                Add some more languages, or contribute to the development.
                If you got some programming know-how (JavaScript), you could help make this bot even better.
                <br />
                <br />
                View the project on
                <a href="https://github.com/pinnouse/ZeroTwoBot">GitHub</a>
            </p>
        </div>
        <div id="donate" class="inner-container vertical">
            <h2>Support 💰</h2>
            <p class="block">
                It costs my own pocket money to support and maintain this bot.
                My goal for this project is to provide greatness for the community.
                If this bot grows and grows, trying to maintain it will likely be difficult.
                Sorry to those that might expect a reward, but all I can provide to you is gratitude if you do decide to donate.
                <br />
                <br />
                Or help by contributing to the project (see above).
            </p>
            <p style="font-size: 10pt; margin-bottom: 1em;">
                Or not because it's a free service, but it would be really awesome if you helped to support the ongoing maintenance and development of the project.
            </p>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ERLGNY8BVX3NG&source=url">DONATE</a>
        </div>
        <div class="inner-container vertical dark" style="min-height: unset; padding-bottom: 100px;">
            <h3>Developer Contact 💌</h3>
            <p class="quote">
                Discord: <span class="mention">@pinnouse#7766</span>
                <br />
                Email: <a href="mailto:nichol.wong@mail.utoronto.ca">nichol.wong@mail.utoronto.ca</a>
                <br />
                Twitter: <a href="https://twitter.com/pinnouse">@pinnouse</a>
                <br />
                GitHub: <a href="https://github.com/pinnouse">pinnouse</a>
            </p>
        </div>
    </div>

    <footer>
        &COPY; 2021 Nicholas Wong
    </footer>

    <!-- DO NOT TOUCH - CLIENT DATA INFORMATION -->
    #client#
    <script src="./static/js/hamburger.js"></script>
    <script src="./static/js/index.js"></script>
</body>

</html>
