#hero {
  position: relative;
}

#hero::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: url("../img/kv01.jpg") no-repeat right top fixed;
  background-size: contain;
}

#hero::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0.88), transparent);
}

#hero > .avatar {
  position: relative;
  pointer-events: none;
  animation: floatAround 4s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

#hero > .avatar > img {
  position: relative;
  height: 148px;
  border: 4px solid #4e4a4a;
  border-radius: 50%;
  box-shadow: 2px 5px 10px 2px #20202027;
}

#hero > .avatar::after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 16px;
  background: #70ee27;
  border: 4px solid #4e4a4a;
  border-radius: 50%;
  box-shadow: 3px 5px 10px 2px #2020203b;
}

#stats-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 540px;
}

#stats-chart .stat {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  min-width: 180px;
  text-align: center;
  margin: 40px;
  border: 4px solid #202020;
}

#stats-chart .stat > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 0;
}

#stats-chart .stat > p {
  font-size: 10pt;
}

/*************
* ANIMATIONS *
*************/
@keyframes floatAround {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-4px);
  }
}

/*************
* RESPONSIVE *
*************/
@media only screen and (max-width: 1054px) {
  #stats-chart {
    max-width: 100%;
  }
}