body {
    position: relative;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    color: #404040;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #404040;
}

header {
    z-index: 100;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #b0b0b0;
    box-shadow: 0 2px 12px 3px rgba(24, 24, 24, 0.14);
    transition: background-color 230ms;
}

header.color {
    background-color: #c65558;
}

header > * {
    position: relative;
    height: 100%;
}

header > .home {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #e0e0e0;
    width: 20px;
    margin: 0;
    height: 20px;
    padding: 10px;
    background-color: #202020;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: width 320ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

header > .home:hover {
    color: #ffffff;
    width: 92px;
}

header > .home > img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

header > .home > span {
    font-size: 20px;
    padding-right: 6px;
    opacity: 0;
    transition: 320ms;
}

header > .home:hover > span {
    opacity: 1;
}

header > .navbar {
    float: right;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > .navbar > *:last-child {
    padding-right: 16px;
}

header > .navbar > a {
    height: 20px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding:  10px 10px 10px 20px;
    color: #e0e0e0;
    transition: color 200ms;
}

header > .navbar > a:hover {
    color: #ffffff;
}

header > .navbar > a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(16, 16, 16, 0.34);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

footer {
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    text-align: center;
    font-size: 10pt;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.container.center {
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 54vh;
    padding: 10vh 0;
}

.inner-container.dark {
    color: #ffffff;
    background-color: #363636;
}

.inner-container:not(.vertical) > * {
    max-width: 50vw;
    padding: 24px;
}

.inner-container h1,
.inner-container h2,
.inner-container h3,
.inner-container h4,
.inner-container h5,
.inner-container h6 {
    margin: 8px 0;
}

.inner-container a {
    z-index: 10;
    position: relative;
    padding: 2px;
    color: #efa09f;
}

.inner-container a:hover {
    text-decoration: underline;
}

.inner-container a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 3px;
    background-color: #ffe7e7;
    transform: scale(0);
    transition: transform 120ms;
}

.inner-container a:hover::before {
    transform: scale(1);
    transition: transform 230ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.inner-container.dark a::after {
    content: "";
    z-index: -2;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 3px;
    background-color: #ffffff;
}

.inner-container.reverse {
    flex-direction: row-reverse;
}

.inner-container p {
    text-align: center;
    margin: 4px 0;
}

.inner-container p.block {
    text-align: justify;
    width: 30vw;
    line-height: 1.6em;
}

.inner-container p.quote {
    width: 30vw;
    padding: 40px;
    text-align: left;
    background: #fbfbfb;
    line-height: 1.6em;
}

.inner-container ul {
    margin: 4px 0;
}

.inner-container li {
    margin: 10px 0;
}

.vertical {
    flex-direction: column;
}

.vertical > * {
    max-width: 60vw;
}

.vertical > h2 {
    margin: 28px 0;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    max-width: 70vw;
}

.horizontal > * {
    display: inline-block;
    max-width: 40%;
}

.preview {
    border-radius: 14px;
    height: 300px;
    overflow: hidden;
}

.preview > img {
    height: 100%;
}

.mention {
    cursor: default;
    font-family: Helvetica, Arial, sans-serif;
    color: #7289DA;
    background-color: rgba(114, 137, 218, .1);
    padding: 1px 2px;
}

.mention:hover {
    color: #ffffff;
    background-color: rgba(114, 137, 218, .7);
}

.buttons a {
    display: inline-block;
    margin-top: 13px;
    padding: 13px;
    border: 2px solid #efa09f;
    border-radius: 4px;
}

.buttons a:hover {
    color: #efefef;
    text-decoration: none;
}

.buttons a::before {
    padding: 0;
    border: 2px solid #efefef;
    background-color: #ec8a8a;
}

.fade-from-left {
    animation: fadeFromLeft 260ms linear;
}

.fade-from-right {
    animation: fadeFromRight 260ms linear;
}

@keyframes fadeFromLeft {
    0% {
        left: -100px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes fadeFromRight {
    0% {
        left: 100px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

/*************
* RESPONSIVE *
*************/
@media only screen and (max-width: 1054px) {
    .inner-container {
        flex-direction: column !important;
        max-width: 100vw;
    }

    .inner-container p.block {
        max-width: 80%;
        width: unset;
    }
}